<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ArmDot.Client" version="2025.7.0" targetFramework="net462" />
  <package id="ArmDot.Engine.MSBuildTasks" version="2025.7.0" targetFramework="net462" />
  <package id="log4net" version="2.0.15" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net462" />
</packages>